.nav {
  display: flex;
  gap: 1.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.link {
  text-decoration: none;
  display: inline-flex;
}

.active {
  color: var(--text-color);
  pointer-events: none;
}

.isRight {
  margin-left: auto;
}
