.nav {
  display: flex;
  gap: 1.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.link {
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  line-height: 2;
}

.link > img {
  vertical-align: middle;
  vertical-align: middle;
  top: -0.2em;
  position: relative;
}

.active {
  color: var(--text-color);
  pointer-events: none;
}

.isRight {
  margin-left: auto;
}

.divider {
  flex: 1;
}

.adaptiveText {
  display: none;
}
@media (min-width: 580px) {
  .adaptiveText {
    display: inline;
  }
}
